body {
	background-color: Maroon;
}
h1 {
	color: White;
	background-color: gray;
	font-family: "Courier New";
	font-size: 90px;
	border: 6px solid gray;
	border-style: outset;
	outline: 8px outset black;
	text-align: Center;
}
img {
	border: white;
	border-style: outset;
	background-color: white;
	width: 100px;
	height: 100px;
}
ul{
	color: White;
	font-family: "Courier New";
	font-size: 30px;
	border: gray;
	border-style: outset;
	background-color: gray;
	width: 1000px;
	text-align: center;
}
li {
	display: inline;
}
p {
	color: White;
	font-family: "Courier New";
	font-size: 30px;
	border: gray;
	border-style: outset;
	background-color: gray;
	float: right;
}
a {
	color: white;
	text-decoration: none;
}
p {
	text-align: center;
}