ul{
	color: White;
	font-family: "Courier New";
	font-size: 30px;
	border: gray;
	border-style: outset;
	background-color: gray;
	text-align: center;
}
li {
	display: inline;
}
p {
	color: Black;
	font-family: "Courier New";
	font-size: 60px;
	border: gray;
	border-style: outset;
	background-color: gray;
	float: right;
}
img {
	border: white;
	border-style: outset;
	background-color: white;
}
body {
	background-color: White
}
h1 {
	color: White;
	background-color: gray;
	font-family: "Courier New";
	font-size: 90px;
	border: 6px solid gray;
	border-style: outset;
	outline: 20px outset black;
	text-align: Center;
}
a {
	color: white;
	text-decoration: none;
}
form{
	text-align: center;
}